<br/>
<% flash.each do |name, msg| %>
		<div class="alert alert-warning alert-dismissible">
			<button class="close" data-dismiss="alert">
				<small><sub>x</sub></small>
			</button>
			<%= content_tag(:div, msg) %>
		</div>
<% end %>